<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="virwport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="style/style.css" />
        <script src="https://kit.fontawesome.com/ee2ef8f203.js"></script>
        <title>Products</title>
    </head>
    <body>
        <div id="app">
            <header class="header container">
                <a class="header_icon" href="index.html">
                    <span class="header_icon_text">Tech</span>
                    <span class="header_icon_letter">Noir</span>
                </a>
                <div class="cart header_form" action="#">
                    <button class="header_browse_block header_browse">Browse</button>
                    <form action="" method="POST" class="search-form" @submit.prevent="FilterGoods()">
                        <input
                            v-model="userSearch"
                            class="search-field header_form_search"
                            type="text"
                            placeholder="Search..."
                        />
                        <button class="btn-search" type="submit" @click.prevent="FilterGoods()">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="header_user_menu">
                    <button class="btn-cart header_basket" type="button">
                        <img src="icon/cart_icon.png" alt="" />
                    </button>
                    <div class="cart-block invisible"></div>
                    <button type="button" name="button" class="user_menu_item">My Account</button>
                </div>
            </header>
            <nav class="header-menu">
                <a href="index.html" class="nav__menu_link">Home</a>
                <a href="#" class="nav__menu_link">Notebook</a>
                <a href="#" class="nav__menu_link">Mouse</a>
                <a href="#" class="nav__menu_link">Keyboard</a>
                <a href="#" class="nav__menu_link">Gamepad</a>
                <a href="#" class="nav__menu_link">Accoseriese</a>
                <a href="#" class="nav__menu_link">Featured</a>
                <a href="#" class="nav__menu_link">Hot Deals</a>
                <a href="contacts.html" class="nav__menu_link">Contacts</a>
            </nav>
            <main>
                <!-- Products items-->
                <div class="products container">
                    <div class="product-item" v-for="product of filteredProducts" :key="product.id_product">
                        <img :src="imgCatalog" alt="Some img" />
                        <div class="desc">
                            <h3 class="product-item__text__title">{{product.product_name}}</h3>
                            <p class="product-item__text__price">{{product.price}} $</p>
                            <button class="buy-btn" @click="addProduct(product)">Купить</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/main.js"></script>

        <footer class="footer">
            <div class="footer_copyright container">
                <p class="copy_text">&copy; 2021 TechNoir All Rights Reserved.</p>
                <div class="footer_row">
                    <div class="social-icons__items">
                        <a class="social_icons__link" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="social_icons__link" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="social_icons__link" href="#"><i class="fa fa-linkedin"></i></a>
                        <a class="social_icons__link" href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a class="social_icons__link" href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
