* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
}

html,
body {
    font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}

a,
a:visited {
    cursor: pointer;
    text-decoration: none;
}

form,
button,
button:active,
button:focus {
    outline: none;
}

.container {
    padding: 0 calc(50% - 570px);
}

.header_wrapper {
    display: flex;
    align-items: center;
}

.header_icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header_form {
    margin-left: 40px;
    display: flex;
    align-items: stretch;
    padding: 32px 0 32px 0;
    position: relative;
}

.header_form_search {
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0 3px 3px 0;
    /* background-image: url('../icon/search_icon.png');
    background-position: 292px 12px;
    background-repeat: no-repeat; */
    padding: 12px 35px 12px 16px;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #8e8d8d;
    position: absolute;
    top: 34px;
    left: 375px;
    width: 31px;
    height: 34px;
    border-left: 1px solid;
    border-color: #e6e6e6;
    cursor: pointer;
}

.header_icon_text {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    padding-left: 12px;
}

.header_icon_letter {
    font-size: 27px;
    line-height: 32px;
    font-weight: 900;
    color: #f16d7f;
}

.header_browse_block {
    width: 90px;
    padding-left: 10px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0 0 3px;
    background-color: #f9f9f9;
    background-image: url('../icon/caret-down.png');
    background-position: 69px 15px;
    background-repeat: no-repeat;
}

.header_browse {
    align-items: stretch;
    font-size: 15px;
    color: #222222;
    text-align: left;
}

.header_browse > ul li a {
    display: block;
    font-size: 14px;
    background: #fff;
}

.header_user_menu {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user_basket {
    width: 32px;
    height: 29px;
    position: relative;
}

.user_menu_item {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.user_menu_item:after {
    content: '\25BC';
    padding-left: 0.2em;
}

/***** MENU *****/

.header-menu {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
}

.nav__menu_link {
    text-decoration: none;
    color: #222222;
    border-bottom: 2px solid transparent;
}

.nav__menu_link:hover {
    color: #f16d7f;
    padding-bottom: 20px;
    margin-bottom: -20px;
    border-bottom: 2px solid #f16d7f;
}

.nav__menu_link:not(:last-of-type) {
    margin-right: 36px;
}

/* .header_basket {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 26px;
    background: transparent;
    border: none;
    cursor: pointer;
} */

.header_basket:hover .user_drop_basket {
    display: flex;
}

.user_drop_basket {
    display: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1px;
    padding: 18px 18px;
    border: 1px solid #e8e8e8;
    position: absolute;
    z-index: 1;
    top: 80px;
}

.user_basket_block {
    width: 230px;
}

.basket_rebox_zane {
    display: flex;
    margin-bottom: 18px;
    width: 230px;
    border-bottom: 1px solid #e8e8e8;
}

.basket_img {
    float: left;
    margin: 0 18px 16px 0;
}

.basket_item {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

/***** HEADER NAV *****/

.header-nav {
    background-color: #f8f3f4;
    padding: 65px 0 65px;
}

.header-nav__title {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}

/*************/

.buy-btn {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #f16d7f;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}

.product {
    margin-top: 40px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.product-image {
    width: 250px;
}

.product-image__cart {
    width: 110px;
}

.product-item {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-item__cart {
    position: relative;
}

.product-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.product-item__text__title {
    padding: 20px 0 15px 15px;
    margin: 0;
    text-transform: uppercase;
}

.product-item__text__price {
    padding: 0 0 20px 15px;
    margin: 0;
    font-size: 18px;
    color: #f16d7f;
}

/***** CART *****/
#item-cart:target {
    display: block;
}

#item-cart {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.user-cart {
    position: absolute;
    top: 80px;
    right: 140px;
    border: 1px solid #cecece;
    padding: 15px;
    background-color: #fff;
}

.close-cart {
    position: absolute;
    right: 10px;
    top: 4px;
}

.user-cart__item-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.cart-item__text__title {
    padding: 20px 0 15px 15px;
    margin: 0;
    text-transform: uppercase;
}

.cart-item__text__price {
    padding: 0 0 20px 15px;
    margin: 0;
    font-size: 18px;
    color: #f16d7f;
}

.cart-item__text__quantity {
    padding: 0 0 10px 15px;
    margin: 0;
    font-size: 12px;
    color: rgb(110, 110, 110);
}
.cart-item__text__cart-title {
    padding: 0px 0 10px 15px;
    margin: 0;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

.cart-item__text__cart-price {
    padding: 0 0 5px 15px;
    margin: 0;
    font-size: 16px;
    color: rgb(110, 110, 110);
}

.add-btn {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #f16d7f;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}

.remove-btn {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #f16d7f;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}

/***** CHECKOUTBOX *****/

.delivery-form {
    margin-top: 60px;
    margin-bottom: 70px;
}

.checkout-box input,
.checkout-box__content {
    display: none;
}

.checkout-box {
    color: #222222;
}

.tab-title {
    padding: 30px;
    display: block;
    text-transform: uppercase;
    border-bottom: 1px solid #e9eaec;
    font-weight: bold;
    cursor: pointer;
}

.tab-title:nth-last-of-type(3) {
    margin-bottom: 70px;
}

.checkout-box__content {
    padding: 20px 35px;
}

.checkout-box__content-h3 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    padding: 18px 0 15px 0;
}

.checkout-box__content-p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    padding-bottom: 33px;
}

.checkout-box__content ul {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
}

.label-checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 15px;
}

.label-login {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.label-check-text {
    width: 390px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.required-spec-text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;
    margin-bottom: 15px;
}

.forgot-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;
    margin-left: 32px;
}

.checkout-box :checked + .tab-title {
    color: #f16d7f;
}

.checkout-box :checked ~ .checkout-box__content {
    display: block; /* Показываем содержимое */
}

.checkout-box__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-box__col {
    width: 570px;
}

.check-register input {
    display: inline-block;
    margin: 0 15px 0 0;
    align-self: normal;
}

.check-register li:before {
    content: '\00BB';
    vertical-align: baseline;
}

.checkout-box__btn {
    width: 180px;
    height: 50px;
    margin-top: 38px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
}

.checkout-box__btn:active {
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

/***** CHECKOUTEND *****/

/***** FOOTER *****/

.footer {
    display: flex;
    flex-flow: column;
}

.footer_copyright {
    display: flex;
    margin-top: 40px;
    background-color: #e6e6e6;
}

.footer_row {
    margin-left: auto;
}

.copy_text {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #7a7a7a;
    align-self: center;
}

.social-icons__items {
    display: flex;
    justify-content: space-between;
    width: 195px;
    padding: 32px 0;
}

.social_icons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: #b2b2b2;
    background-color: #ffffff;
}

.social_icons__link:hover {
    color: #ffffff;
    background-color: #f16d7f;
}

.social_icons__link:active {
    color: #ffffff;
    background-color: rgba(241, 109, 127, 0.8);
}

/********* ----- ********/

.btn-cart {
    /* background-color: #fafafa;
    padding: 10px 20px; */
    color: #2f2a2d;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 26px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-cart:hover {
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
}

.btn-cart,
.logo {
    align-self: center;
}

.cart-block {
    box-shadow: 0 0 5px rgb(0 0 0 / 62%);
    right: 272px;
    top: 77px;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    z-index: 3;
    width: 300px;
}

/* .cart-block:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
} */

.buy-btn,
.del-btn {
    margin-top: 5px;
    background-color: #f16d7f;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}
/* .buy-btn:hover,
.del-btn:hover {
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
} */
.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child) {
    margin-bottom: 20px;
}
.product-bio {
    display: flex;
}
.cart-item img {
    align-self: flex-start;
    margin-right: 15px;
}

.product-single-price {
    color: #474747;
    font-size: 0.5em;
}
.product-price {
    margin-left: 30px;
    padding: 0 0 20px 15px;
    margin: 0;
    font-size: 18px;
    color: #f16d7f;
}
.product-desc {
    max-width: 150px;
}
.product-quantity,
.product-single-price {
    margin-top: 15px;
    font-size: 0.75em;
    padding: 0 0 0px 15px;
    margin: 0;
    font-size: 12px;
    color: rgb(110, 110, 110);
}
.right-block {
    text-align: right;
}

.invisible {
    display: none;
}
.cart-item__text__title {
    padding: 20px 0 15px 15px;
    margin: 0;
    text-transform: uppercase;
}

.cart-item__text__price {
    padding: 0 0 20px 15px;
    margin: 0;
    font-size: 18px;
    color: #f16d7f;
}

.product-title {
    padding: 0px 0 10px 15px;
    margin: 0;
    font-size: 14px;
    color: rgb(27, 27, 27);
}

.add-btn,
.remove-btn {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #f16d7f;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}
